.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .search-input {
    padding: 10px;
    border: 2px solid pink;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
  }
  
  .search-button {
    padding: 10px;
    background-color: pink;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-left: 20px;
  }
  
  .admin-info {
    display: flex;
    align-items: center;
  }
  
  .admin-name {
    margin-right: 10px;
  }
  
  .admin-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  