.header {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.page-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

  .icon {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}
  
  .admin-info {
    display: flex;
    align-items: center;
  }
  
  .admin-name {
    margin-right: 10px;
  }
  
  .admin-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  