/* src/components/ProductList/ProductList.css */

.product-list-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .product-list-container th, .product-list-container td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .product-list-container th {
    background-color: #f4f4f4;
  }
  
  .product-list-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .product-list-container tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .product-list-container button, .product-list-container a {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .product-list-container button:hover, .product-list-container a:hover {
    background-color: #45a049;
  }
  