.order-detail-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.order-items-status-container {
  display: flex;
  justify-content: space-between;
}
.order-items-container {
  flex: 1;
  margin-right: 20px;
}

.order-status-container {
  flex: 1;
}
.stats-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stats-card {
  width: 12rem; /* Giảm kích thước của card */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-right: 5px; /* Giảm khoảng cách giữa các card */
}

.icon-container {
  padding: 10px; /* Giảm padding */
  color: #fff;
  font-size: 12px; /* Giảm kích thước của biểu tượng */
}

.stats-info {
  padding: 10px; /* Giảm padding */
}

.stats-info h3, .stats-info p {
  margin: 0; /* Loại bỏ margin mặc định */
  font-size: 14px; /* Giảm kích thước của văn bản */
}


.update-status-section {
  margin-bottom: 20px;
}

.order-items-table {
  width: 100%;
  border-collapse: collapse;
}

.order-items-table th,
.order-items-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-items-table th {
  background-color: #f2f2f2;
}
