.voucher-list-container {
    padding: 20px;
  }
  
  .voucher-list-table {
    width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .voucher-list-table th,
  .voucher-list-table td {
    padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  }
  
  .voucher-list-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  .voucher-list-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .pagination button {
    padding: 5px 10px;
  }
  .dialog-action-buttons button{
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }